/* Resets and general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  height: 100%;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: clamp(24px,42px,56px);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 0 8px;
  background: white;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

.invisible {
  visibility: none;
}

/* Game Board */

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

.square {
  font-size: 100px;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid lightgrey;
}

.square-possible {
  background-color: rgb(248, 246, 246);
}

.message {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(248, 246, 246);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  white-space: pre-wrap;
  font-size: 1.5rem;
}

.footer {
  color: #585858;
  font-size: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 42px;
}